<div class="hotel-list">
    <% for(var i=0; i < data.length; i++) { %>
    <div class="hotel">
            <h2><%= data[i].name %></h2>
            <p><%= data[i].addressLine1 %><br>
            <%= data[i].addressLine2 %></p>
            <a href="<%= data[i].link %>" class="black-link"><%= data[i].link %></a>
    </div>
    <% } %>
</div>
