<nav>
    <ul>
        <li><a <%= typeof title != 'undefined' && title == 'About Us' ? 'class=selected' : '' %> href="/about-us">About Us</a></li>
        <li><a <%= typeof title != 'undefined' && title == 'RSVP' ? 'class=selected' : '' %> href="/rvsp">RSVP</a></li>
        <li><a <%= typeof title == 'undefined' ? 'class=selected' : '' %> href="/">Home</a></li>
        <li><a <%= typeof title != 'undefined' && title == 'Location' ? 'class=selected' : '' %> href="/location">Location</a></li>
        <li><a <%= typeof title != 'undefined' && title == 'Registry' ? 'class=selected' : '' %> href="/registry">Registry</a></li>
    </ul>
</nav>

<!-- <li>
    <select id="details">
        <option value="0">Details</option>
        <option value="ceremony">Ceremony</option>
        <option value="reception">Reception</option>
    </select>
</li>
<li><a href="/accomadations">Accomadations</a></li>
<li><a href="/">Home</a></li>
<li><a href="/rsvp">RSVP</a></li>
<li><a href="/registry">Registry</a></li> -->
